<!-- メッセージが１０件以上ならば以前のメッセージへのリンクを表示する -->
<div class="container">
  <div class="message_btn row">
    <div class="col-md-11 col-sm-11 col-xs-offset-1 col-xs-11">
      <h4>メッセージ一覧</h4>
      <p><%= notice %></p>
    <% if @over_ten %>
      <%= link_to '以前のメッセージ', '?m=all', class: 'btn btn-default back_btn' %>
    <% end %>
  </div>
  </div>
  <div class="ui segment row">
  <!-- メッセージを一件ずつ抽出 -->
    <% @messages.each do |message| %>
      <div class="col-md-11 col-sm-11 col-xs-offset-1 col-xs-11">
        <% if message.body %>
          <div class="message_content">
            <% user = User.find(message.user_id) %>
            <div class="item">
              <div class="content">
                <div class="header message_posi message_ava">
                  <%= profile_img(user)%>　<strong><%= user.name %></strong>　<%= message.message_time %>
                </div>
                <div class="list">
                  <div class="item message_comment">
                    <i class="right triangle icon"></i>
                    <%= message.body %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<!-- 会話にひもづくメッセージの入力フォームを投稿者を自分にしていして生成する -->
  <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
    <div class="row">
      <div class="col-md-11 col-sm-11 col-xs-offset-1 col-xs-11">
        <div class="field">
          <%= f.text_area :body, class: "form-control", placeholder: "メッセージを送りましょう" %>
        </div>
      </div>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <div class="message_add row">
      <div class="col-md-11 col-sm-11 col-xs-offset-1 col-xs-11">
        <%= f.submit "メッセージを送る", class: 'btn btn-primary back_btn' %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-11 col-sm-11 col-xs-offset-1 col-xs-11">
      <p><%= link_to 'メッセージ - ユーザー一覧に戻る', conversations_path, class: "btn btn-default back_btn back-followed"%></p>
    </div>
  </div>
</div>
