<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= @topic.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :投稿作品 %>
  <%= f.text_field :content, class: 'form-control', placeholder: "今なにしてる？" %>
  <br>
  <%= f.label :写真%>
  <br>
  <%= image_tag(@topic.photo) %>
  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>


  <br>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
<!-- routesでrootにしているから -->
<%= link_to "作品一覧に戻る", root_path, class: 'btn btn-default back_btn' %>
