<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h2>投稿作品集</h2>
    <%= link_to "作品を投稿する", new_topic_path %>
    <% @topics.each do |topic| %>
      <div class="topic-list">
        <p class="drop_menu"><%= topic.user.name %>さんが投稿しました。</p>
        <div class="dropdown text-right drop_menu_posi">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to "編集する", edit_topic_path(topic.id) %></li>
            <li><%= link_to "削除する", topic_path(topic.id), method: :delete %></li>
          </ul>
        </div>
        <div class="topic_ava_img">
          <p><%= profile_img(topic.user) %></p><!-- ユーザー写真 image_tagはヘルパーから持ってきてるのでメソッドを呼び出すだけで良い--><!-- ユーザー名 -->
          <p class="topic_ava_pro">
            <%= topic.user.name %>さん<br>
            <%= topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
          </p>
        </div>
        <p class="topic_content">
          <%= topic.content %></p>
          <p><%= image_tag(topic.photo) %>
        </p>
        <div class="line">

        <!-- いいね、コメント記入欄をここに挿入 -->
        <%= link_to topic_path(topic) do %>
          <p>作品にコメントする</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
