<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h2>投稿作品集</h2>
    <%= link_to "作品を投稿する", new_topic_path %>
    <% @topics.each do |topic| %>
        <div class="topic-list">
        <p><%= topic.user.name %>さんが投稿しました。</p>
        <div>
          <%= profile_img(topic.user) %><!-- ユーザー写真 image_tagはヘルパーから持ってきてるのでメソッドを呼び出すだけで良い--><!-- ユーザー名 -->
          <%= topic.user.name %>さん<br>
          <%= topic.created_at.strftime("%y/%m/%d %p %l:%M") %>
        </div>
        <p><%= topic.content %></p>
        <%= image_tag topic.photo %>
        <div class="line">
        <%= link_to "編集", edit_topic_path(topic.id) %>
        <%= link_to "削除", topic_path(topic.id), method: :delete %>

        <!-- いいね、コメント記入欄をここに挿入 -->
        <%= link_to topic_path(topic) do %>
          <p>作品にコメントする</p>
          </div>
          <!-- <h4><strong><%= topic.content %></strong></h4> -->
        <% end %>
</div>
    <% end %>
  </div>
</div>
