<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>facedog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default"><!-- navbar-fixed-top 固定させる -->
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="list-inline">
            <li><%= link_to "", root_path, class: "glyphicon glyphicon-phone navbar-brand-img navbar-icon navbar-brand" %></li>
              <li><input type="text" class="form-control navbar-form" placeholder="検索機能はありません" size="22"></li>
              <li><button class="btn btn-default glyphicon glyphicon-search navbar-form-search"></button></li>
              <% if user_signed_in? %>
                <li><%= link_to 'マイページ', edit_user_registration_path, class: "navbar-brand" %></li>
                <li><%= link_to 'ホーム', root_path, class: "navbar-brand" %></li>
                <li><%= link_to 'ユーザー一覧', users_path, class: "navbar-brand" %></li><!-- if user_signed_in?抜いてしまったが -->
                <li><%= link_to 'メッセージ', conversations_path, class: "navbar-brand" %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "navbar-brand" %></li>
              <% else %>
              <!-- <li><%= link_to 'ログイン', new_user_session_path, class: "navbar-brand" %></li> -->
              <!-- <li><%= link_to 'サインアップ', new_user_registration_path, class: "navbar-brand" %></li> -->
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>©2017-2017 facedog</p>
  </footer>

</body>
</html>
