<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>faceもどき</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "", root_path, class: "fa fa-thumbs-o-up navbar-brand fa-2x" %>
          <form class="navbar-form navbar-left search_form" role="search">
            <div class="form-group">
              <input type="text" class="form-control navbar-form search_form" placeholder="検索機能はありません" size="22">
            </div>
            <button class="btn btn-default fa fa-search fa-lg search_form"></button>
          </form>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown drop_menu">
                <a href="#" class="dropdown-toggle drop_menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー<span class="caret"></span></a>
                <ul class="dropdown-menu drop_menu">
                  <li class="drop_menu"><%= link_to 'マイページ', edit_user_registration_path %></li>
                  <li class="drop_menu"><%= link_to '投稿一覧', root_path %></li>
                  <li class="drop_menu"><%= link_to 'ユーザー', users_path if user_signed_in? %></li>
                  <li class="drop_menu"><%= link_to 'メッセージ', conversations_path %></li>
                  <li class="drop_menu"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li class="drop_menu"><%= link_to 'ログイン', new_user_session_path %></li>
              <li class="drop_menu"><%= link_to 'サインアップ', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<%= yield %>

  <footer>
    <p>©2017-2017 faceもどき</p>
  </footer>

</body>
</html>
